$font-stack: "Roboto","Helvetica","Arial",sans-serif;

@mixin flexbox-align {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}


* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-family: 'Lato', 'Open Sans', serif;
  font-weight: 100;
  font-size: 40px;
}

.application {
  width: 500px;
  margin: 10px auto 0 auto;
  box-shadow: 3px 3px 4px #d4d2d2;
  background-color: #ecebeb;
}

.app-form-items {
  @include flexbox-align;
  width: 500px;
  height: 50px;
  background-color: #ff6363;
} 

.app-form-items__text{
  width: 300px;
  height: 30px;
  padding: 0 0 0 20px;
  border: 0px;
  border-bottom: 1px solid #6d6c6c;
  outline: none;
  margin-top: 3px;
  background-color: #ff6363;
  color: #fff;
  font-size: 22px;

 }

 .app-btn {
  width: 70px;
  height: 30px;
  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14);
  border: none;
  border-radius: 2px;
  color: #6d6c6c;
  font-family: $font-stack;
  font-size: 10px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
 }

 .app-btn:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14);
    background-color: rgba(158,158,158,.4);
 } 

 .delete {
  margin-left: 80.5%;
 }

.task-container {
  margin-top:10px;
  margin-bottom: 10px;
}

.task {
  @include flexbox-align;
  width: 485px;
  height: 60px;
  padding-left: 20px;
  margin: 0 auto 7px auto;
  box-shadow: 0px 3px 2px #d4d2d2;
  box-sizing: border-box;
  background-color: #fff;
  color: #a9a8a8;
  font-family: $font-stack;
  font-size: 22px;
  font-weight: 300;
}

.task-content {
  @include flexbox-align;
}

.task-checkbox {
  display: none;
}

.task-new-checkbox {
  @include flexbox-align;
  width: 395px;
  height: 50px;
  padding-left: 40px;
  cursor: pointer;
  background: url(../img/checkbox_empty.png) no-repeat;
  background-size: 26px;
  background-position-x: 0px;
  background-position-y: 12px;
}

.task-checkbox:checked ~ .task-new-checkbox {
  background: url(../img/checkbox_marked.png) no-repeat;
  background-size: 26px;
  background-position-x: 0px;
  background-position-y: 12px;
}

.task-close-btn {
  width: 26px;
  height: 26px;
  outline: none;
}