#slider-wrap{ /* Оболочка слайдера и кнопок */
	width:1400px;
	height: 400px; 
	position: relative;
}
#slider{ /* Оболочка слайдера */
	position:relative;
	z-index: -2;
	overflow: hidden;
	height:400px;
	background-color: grey;
}
.slide{ /* Слайд */
	width:100%;
	height:100%;
}

.sli-links .control-slide{
	text-indent:-9999px;
}

.sli-links .control-slide.active{
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
}
/*===========================================*/
.slide-info {
	position: absolute;
	bottom: 20px;
	left: 100px;
	width: 700px;
	color: #fff;
}
.slide-info-tittle {
	padding-bottom: 12px;
	text-shadow: 0.5px 1px 1px black;
}
.slide-info-date {
	font-size: 14px;
	color: #fff;
}
/*=============================================*/
.sli-links {
	position: absolute;
	top: 100px;
	left: 10px;
	width: 13px;
	height: 195px;
	margin-left: 10px;
}
.sli-links :last-child {
	padding-bottom: 0
}
.control-slide {
	display: block;
	width: 35px;
	height: 31px;
	padding-bottom: 10px;
	background-image: url(../img/line.png);
	background-repeat: no-repeat;
}